# --- CONFIGURACIÓN DE BASE DE DATOS ---
# Contraseña del usuario root (administrador)
MYSQL_ROOT_PASSWORD=contra_del_admin

# Nombre de la base de datos que se creará al iniciar
MYSQL_DATABASE=red_social_db

# Usuario normal para la aplicación
MYSQL_USER=nombre_de_usuario
MYSQL_PASSWORD=contra_de_usuario

# --- RED Y CONEXIÓN ---
DB_HOST=db
DB_PORT=3306